<!DOCTYPE html>
<html lang="en" style="font-size: 70.5%;">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Checkout</title>
  <!-- remix icon cdn link  -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet" />

  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <!-- Bootstrap Link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <!-- css file -->
  <!-- <link rel="stylesheet" href="css/checkout.css"> -->
  <link rel="stylesheet" href="css/home.css">

</head>

<body>
  <!-- header section starts  -->
  <header class="header">
    <a style="text-decoration: none;" href="/home" class="logo"></i>#HASHCART</a>
    <form action="#" class="search-form">
      <input type="search" placeholder="search anything" id="search-box" />
      <label for="search-box" class="ri-search-line"></label>
    </form>
    <div class="icons">
      <div id="menu-btn" class="ri-menu-line"></div>
      <div id="search-btn" class="ri-search-line"></div>
      <!-- <div id="cart-btn" class="ri-shopping-cart-line">0</div>  -->
      <!-- <div id="login-btn" class="ri-user-line"></div> -->
      <div id="cart-btn" class="ri-shopping-cart-line">
        <p id="count">0</p>
      </div>
      <div class="ri-heart-line" id="like-btn">
        <p id="likecount">0</p>
      </div>

    </div>
  </header>

  <!-- header section ends  -->

  <!-- closer btn  -->
  <div id="closer" class="ri-close-line"></div>

  <!-- navbar start  -->

  <div class="navbar">
    <a style="text-decoration: none;" href="/home">Home</a>
    <a style="text-decoration: none;" href="/products">Products</a>
    <a style="text-decoration: none;" href="#">About Us</a>
    <a style="text-decoration: none;" href="/contact">Contact Us</a>

  </div>

  <!-- navbar end  -->
  <div class="shopping-cart">



    <div  class="shopping-cart1" id="addingtothecart">
      <p style="font-size: 2rem;">Your cart is empty</p>
    </div>

    <h3 class="total" id="total">Total : <span> Rs</span> </h3>
    <a href="#" class="checkoutbtn">checkout</a>
  </div>


  <div class="like-cart">

    <div class="like-cart1" id="addingtothelikecart">
      <p style="font-size: 2rem;">Your cart is empty</p>
    </div>



    <h3 class="total" id="total">Total : <span> Rs</span> </h3>
    <a href="#" class="checkoutbtn">checkout</a>
  </div>


  <!-- shopping cart end  -->

  <!-- login form start  --> 
   <!-- <div class="login-form">
                    <div class="container">
                      <div class="card">
                        <div class="inner-box" id="card">
                          <div class="card-front">
                            <h1>SIGN UP</h1>
                            <form action="/signup" method="post" >
                              <img id="name" src="/name.png" alt="" />
                              <input
                                type="text"
                                class="input-box"
                                placeholder="Your Name"
                                name="myname"
                                id="idname"
                                oninput="validateName(this)"
                                maxlength="32"
                                required
                              />              


                              <img id="email" src="/mail-outline.svg" alt="" />
                              <input
                                type="email"
                                class="input-box"
                                placeholder="Email"
                                name="myemail"
                                id="idEmail"
                                onkeyup="valiemail()"
                                required
                              />
                              <img id="pass1" src="/lock-closed-outline.svg" alt="" />
                              
                              <input
                                type="password"
                                class="input-box"
                                placeholder="Password"
                                name="mypassword"
                                id="idpassword"
                                required
                              />
                              <img id="pass2" src="/lock-closed-outline.svg" alt="" />
                              <input
                                type="password"
                                class="input-box"
                                placeholder="Confirm Password"
                                name="myconfirmpassword"
                                id="idconfirmpassword"
                                required
                              />
                              <label id="rem">
                                <input type="checkbox" /><span>Remember Me</span>
                              </label>
                              <a href="#" id="forgot">Forgot Password</a>
                              <button type="submit" class="sumbit-btn" onclick=" return validata()">Sumbit</button>
                              <span id="accountregister">Don't have a account </span>
                              <button type="button" class="btn" onclick="openlogin()" >
                                Log In
                              </button>
                            </form>
                          </div>
                          <div class="card-back">
                            <h1>LOGIN</h1>
                            <form action="/account"   method="post">
                              <img id="email" src="/mail-outline.svg" alt="" />
                              <input
                                type="email"
                                class="input-box"
                                placeholder="Email"
                                name="myloginemail"
                                required
                              />
                              <img id="pass1" src="/lock-closed-outline.svg" alt="" />
                              <input
                                type="password"
                                class="input-box"
                                placeholder="Password"
                                name="myloginpass"
                                required
                              />
                              <label id="remback">
                                <input type="checkbox" /><span>Remember Me</span>
                              </label>
                              <a href="#" id="forgot">Forgot Password</a>
                              <button type="submit" class="sumbit-btn">Sumbit</button>
                              <span id="accountregister">Already have a account </span>
                              <button type="button" onclick="openregister()" class="btn">
                                Register Now
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  -->

  <!-- login form end 














   checkout -->


  <div class="checkout-container">
    <main>
      <div class="py-5 text-center">
        <h2 id="checkout-form">Checkout form</h2>
        <p style="color: #5e473e">Secure Checkout</p>
      </div>

      <div class="row g-5" style="margin: 4rem;margin-top: -5rem;">
        <div class="col-md-5 col-lg-4 order-md-last" style="width: 50rem;">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="your-cart">Your cart</span>
            <span class="badge bg-primary rounded-pill">3</span>
          </h4>
          <ul class="list-group mb-3" id="checkoutcartitem">

            <!-- <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">−$5</span>
            </li> -->
          </ul>
          <li class="list-group-item d-flex justify-content-between">
            <span style="font-size: 2rem;">Total (Rs)</span>
            <strong style="font-size: 2rem;" id="totalamountcheckout">$20</strong>
          </li>

        </div>
        <div class="col-md-7 col-lg-8" style="width: 75rem  ; margin-left: 2rem;">
          <h4 rclass="mb-3 billing">Billing address</h4>
          <form class="needs-validation" novalidate="">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="" />
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="" />
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>

              <div class="col-12">
                <label for="username" class="form-label">Phone Number</label>
                <div class="input-group has-validation">
                  <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                  <input type="text" class="form-control" id="username" placeholder="+91 00000 00000" required="" />
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email
                  <span class="text-body-secondary">(Optional)</span></label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com" />
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>

              <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="" />
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>

              <div class="col-12">
                <label for="address2" class="form-label">Address 2
                  <span class="text-body-secondary">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite" />
              </div>

              <div class="col-md-5">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" id="country" required="">
                  <option value="">Choose...</option>
                  <option>United States</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>

              <div class="col-md-4">
                <label for="state" class="form-label">State</label>
                <select class="form-select" id="state" required="">
                  <option value="">Choose...</option>
                  <option>California</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>

              <div class="col-md-3">
                <label for="zip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="" required="" />
                <div class="invalid-feedback">Zip code required.</div>
              </div>
            </div>

            <hr class="my-4" />

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="same-address" style="background-color: #f9f7f5" />
              <label class="form-check-label" for="same-address">Shipping address is the same as my billing
                address</label>
            </div>

            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="save-info" style="background-color: #f9f7f5" />
              <label class="form-check-label" for="save-info">Save this information for next time</label>
            </div>

            <hr class="my-4" />

            <h4 class="mb-3">Payment</h4>

            <div class="my-3">
              <div class="form-check">
                <input id="credit" style="background-color: #5f5757; border: none" name="paymentMethod" type="radio"
                  class="form-check-input" checked="" required="" />
                <label class="form-check-label" for="credit">Credit card</label>
              </div>
              <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required=""
                  style="background-color: #f9f7f5" />
                <label class="form-check-label" for="debit">Debit card</label>
              </div>
              <div class="form-check">
                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required=""
                  style="background-color: #f9f7f5" />
                <label class="form-check-label" for="paypal">PayPal</label>
              </div>
            </div>

            <div class="row gy-3">
              <div class="col-md-6">
                <label for="cc-name" class="form-label">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required="" />
                <small class="text-body-secondary">Full name as displayed on card</small>
                <div class="invalid-feedback">Name on card is required</div>
              </div>

              <div class="col-md-6">
                <label for="cc-number" class="form-label">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required="" />
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>

              <div class="col-md-3">
                <label for="cc-expiration" class="form-label">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="" />
                <div class="invalid-feedback">Expiration date required</div>
              </div>

              <div class="col-md-3">
                <label for="cc-cvv" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="" />
                <div class="invalid-feedback">Security code required</div>
              </div>
            </div>

            <hr class="my-4" />

            <button id="checkoutorderbtn" class="w-100 checkout-btn btn btn-lg" type="submit" style="position: unset;">
              Continue to checkout
            </button>
          </form>
        </div>
      </div>
    </main>


  </div>





  <!-- footer section start  -->

  <!-- footer section start  -->

  <section class="footer">
    <div class="box-container">
      <div class="box">
        <h3>quick links</h3>
        <a style="text-decoration: none;" href="/home"><i class="ri-arrow-right-line">Home</i></a>
        <a style="text-decoration: none;" href="/products"><i class="ri-arrow-right-line">Products</i></a>
        <a style="text-decoration: none;" href="/about"><i class="ri-arrow-right-line">about</i></a>
        <a style="text-decoration: none;" href="/contact"><i class="ri-arrow-right-line">contact</i></a>
      </div>
      <div class="box">
        <h3>My Section</h3>
        <a style="text-decoration: none;" href=""><i class="ri-arrow-right-line">my cart</i></a>
        <a style="text-decoration: none;" href="/products" id="wishlisthomefooter"><i class="ri-arrow-right-line">my
            wishlist</i></a>
        <a style="text-decoration: none;" href="/myaccount"><i class="ri-arrow-right-line">my account</i></a>

        <a style="text-decoration: none;" href="#"><i class="ri-arrow-right-line">terms of user</i></a>
      </div>
      <div class="box">
        <h3>Social Media</h3>
        <a style="text-decoration: none;" href="#"><i class="ri-facebook-fill"> Facebook</i></a>
        <a style="text-decoration: none;" href="#"><i class="ri-twitter-fill"> Twitter</i></a>
        <a style="text-decoration: none;" href="#"><i class="ri-instagram-fill"> Instagram</i></a>
        <a style="text-decoration: none;" href="#"><i class="ri-linkedin-box-fill"> Linkedin</i></a>
        <a style="text-decoration: none;" href="#"><i class="ri-pinterest-fill"> Pinterest</i></a>
        <a style="text-decoration: none;" href="#"><i class="ri-messenger-fill"> Messenger</i></a>
      </div>
      <div class="box">
        <h3>newsletter</h3>
        <p>subscribe for latest updates</p>
        <form action="#">
          <input type="email" name="" placeholder="Enter your email" id="" />
          <button style="width: 15rem;" type="button" class="sum-btn">Subscribe</button>
        </form>
      </div>
    </div>
  </section>
  <section class="credit">
    Created by IETIANS || All rights Reserved!
  </section>

  <!-- footer section end  -->

  <!-- custom js file link  -->
  <script src="js/script.js"></script>
  <script src="js/loginscript.js"></script>
  <script src="js/product-list.js"></script>
  <script src="js/checkout.js"></script>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>


</body>

</html>